@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
	body {
		@apply bg-gradient-to-tr from-neutral-900 to-neutral-950 min-h-screen;
	}
}
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: #0d1016;
}
::-webkit-scrollbar-thumb {
	background-color: #1a202c;
}
.background-animate {
	background-size: 400%;

	-webkit-animation: AnimationName 3s ease infinite;
	-moz-animation: AnimationName 3s ease infinite;
	animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}

.heart-beat-animation {
	animation: heartBeat 0.5s ease-in-out;
}

@keyframes heartBeat {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1);
	}
}
